@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@300;400;700&display=swap");
/*******************
Variables
*******************/
/* rgb(29, 82, 124) */
/* rgb(69, 154, 211) */
/* rgb(253, 127, 69) */
/*******************
Basic Styles
*******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: lightgray;
  line-height: 1.6;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

li {
  list-style: none;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

/*******************
Navigation
*******************/
nav {
  background: #1d527c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
@media screen and (min-width: 600px) {
  nav {
    justify-content: space-between;
  }
}

.nav-links {
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh;
  background: #1d527c;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}
@media screen and (min-width: 600px) {
  .nav-links {
    height: 8vh;
    flex-direction: row;
    width: 70%;
    top: 0vh;
    transform: translateX(0%);
    transition: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-links {
    width: 55%;
  }
}

.nav-links li {
  opacity: 0;
}
@media screen and (min-width: 600px) {
  .nav-links li {
    opacity: 1;
  }
}

.nav-links li a {
  font-size: 1.2rem;
  letter-spacing: 1px;
}
@media screen and (min-width: 600px) {
  .nav-links li a {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-links li a {
    font-size: 1.2rem;
  }
}
.nav-links li a:hover {
  transition: 0.4s ease;
  color: lightgray;
}

@media screen and (min-width: 600px) {
  .logo {
    display: flex;
    justify-content: center;
    width: 30%;
  }
}

.logo a {
  font-size: 2rem;
  letter-spacing: 1px;
}
.logo a:hover {
  transition: 0.4s ease;
  color: lightgray;
}

.burger {
  display: block;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .burger {
    display: none;
  }
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkToggle {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*******************
Header
*******************/
header {
  height: 92vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content-group {
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .header-content-group {
    max-width: 70%;
  }
}

.header-content-group h1 {
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .header-content-group h1 {
    font-size: 3rem;
  }
}

.header-content-group span {
  font-style: italic;
}

.header-content-paragraph {
  font-size: 1.1rem;
  line-height: 1.4;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .header-content-paragraph {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 0;
  }
}

.header-content-paragraph :nth-child(1) {
  padding-bottom: 20px;
}

.header-content-group button {
  padding: 15px 30px;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  border: 1px solid #1d527c;
  color: #1d527c;
  background: lightgray;
  transition: 0.4s ease;
  cursor: pointer;
}
.header-content-group button:hover {
  color: lightgray;
  background: #1d527c;
}

/*******************
About Us
*******************/
.about-us {
  padding: 40px 0;
}

.section-heading-title {
  text-align: center;
  font-size: 1.4rem;
}
@media screen and (min-width: 1025px) {
  .section-heading-title {
    font-size: 1.8rem;
  }
}

.about-us .section-heading-title h2 {
  color: #1d527c;
}

.section-heading-title::after {
  background-color: #459ad3;
  content: "";
  display: block;
  height: 2px;
  width: 100px;
  margin: 15px auto;
}
@media screen and (min-width: 1025px) {
  .section-heading-title::after {
    width: 120px;
  }
}

.about-us-wrapper p {
  color: #3c3b3c;
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .about-us-wrapper p {
    flex: 1;
    padding-right: 40px;
    line-height: 1.4;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1025px) {
  .about-us-wrapper p {
    font-size: 1.3rem;
    line-height: 1.4;
    padding-right: 60px;
  }
}
@media screen and (min-width: 1281px) {
  .about-us-wrapper p {
    font-size: 1.5rem;
    padding-right: 70px;
  }
}

.about-us-img img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .about-us-img {
    flex: 1;
  }
}

@media screen and (min-width: 768px) {
  .about-us-wrapper {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
