/*******************
Navigation
*******************/
nav {
  position: fixed;
  width: 100%;
  background: $darkblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8%;
  @include breakpoint(iPad) {
    justify-content: space-between;
  }
}

.nav-links {
  position: fixed;
  right: 0px;
  height: 92%;
  top: 8%;
  background: $darkblue;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  @include breakpoint(iPad) {
    height: 8vh;
    flex-direction: row;
    width: 70%;
    top: 0vh;
    transform: translateX(0%);
    transition: none;
  }
  @include breakpoint(tablet) {
    width: 63%;
  }
}

.nav-links li {
  opacity: 0;
  @include breakpoint(iPad) {
    opacity: 1;
  }
}

.nav-links li a {
  font-size: 1.2rem;
  letter-spacing: 1px;
  @include breakpoint(iPad) {
    font-size: 0.9rem;
  }
  @include breakpoint(tablet) {
    font-size: 1.2rem;
  }
  &:hover {
    transition: $transition;
    color: $lightgray;
  }
}

.logo {
  @include breakpoint(iPad) {
    display: flex;
    justify-content: center;
    width: 30%;
  }
}

.logo a {
  font-size: 2rem;
  letter-spacing: 1px;
  &:hover {
    transition: $transition;
    color: $lightgray;
  }
}

.burger {
  display: block;
  cursor: pointer;
  @include breakpoint(iPad) {
    display: none;
  }
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: $white;
  margin: 5px;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkToggle {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
