/*******************
Services
*******************/
#services {
  background: $darkblue;
  padding: $padding;
}

#services .section-heading-title {
  color: $white;
}

#services .section-heading-title::after {
  background: $lightgray;
}

.services-wrapper-text p {
  padding-bottom: 15px;
  @include breakpoint(tablet) {
    line-height: 1.4;
  }
  @include breakpoint(laptop) {
    font-size: 1.1rem;
  }
  @include breakpoint(desktop) {
    font-size: 1.2rem;
  }
}

.services-wrapper-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.services-wrapper-icons a {
  flex-basis: 50%;
  @include breakpoint(tablet) {
    flex-basis: 33%;
  }
  text-align: center;
}

.services-wrapper-icons i {
  font-size: 5rem;
  padding: 30px 20px;
  transition: 0.5s ease-in-out;
  @include breakpoint(iPad) {
    font-size: 5.3rem;
  }
  @include breakpoint(tablet) {
    font-size: 6.1rem;
  }
  @include breakpoint(laptop) {
    font-size: 7rem;
    padding: 60px 40px;
  }
  &:hover {
    color: $lightgray;
    transform: rotate(360deg);
  }
}
