/*******************
Variables
*******************/
$darkblue: #1d527c; /* rgb(29, 82, 124) */
$lightblue: #459ad3; /* rgb(69, 154, 211) */
$darkgray: #3c3b3c;
$lightgray: lightgray;
$white: #fff;
$transition: 0.4s ease;
$padding: 40px 0;
